* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    margin: 0;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}


.show-mobile {
    @media (min-width: $desktop-breakpoint) {
        display: none;
    }
}

.show-desktop {
    @media (max-width: $desktop-breakpoint - .01rem) {
        display: none;
    }
}

.is-active {
    font-weight: bold;
}